body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.home-intro {
  padding: 40vh 0;
  background: #123 url(./images/city-1.jpg);
  background-size: cover;
  background-blend-mode: soft-light;
  color: white;
  text-align: center;
}
.columns {
  display: flex;
}
.col + .col {
  margin-left: 1.5em;
}
.more-stuff-grid {
  background: #f4f4f4;
  padding: 4em 0;
  display: grid;
  grid-gap: 2em;
  align-items: center;
  grid-template-columns: minmax(1em, 1fr) repeat(2, minmax(200px, 400px)) minmax(1em,1fr);
}
.from-left {
  grid-column: 2 / 3;
  transform: translateX(-50%);
}
.from-right {
  grid-column: 3 / 4;
  transform: translateX(50%);
}
.from-left,
.from-right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
  width: 100%;
}
.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}
